* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: sans-serif;
}

#root {
   display: flex;
   justify-content: center;
}

.App {
   width: 900px;
}

.list__title {
   text-align: center;
   margin-bottom: 5px;
}

.post {
   border: 1px solid black;
   margin-bottom: 20px;
   display: flex;
   flex-direction: column;
   width: 100%;
   padding: 10px;
}

.post img {
   max-width: 100%;
   width: 100%;
}

.post-top {
   margin-bottom: 10px;
}

.post__btns {
   text-align: center;
}

.post__author {
   text-align: center;
   margin-bottom: 10px;
}

.post__content {
   border: 1px solid black;
   padding: 5px;
   margin-bottom: 10px;
}

.posts__empty {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.empty__title {
   margin-bottom: 10px;
}

.header {
   display: flex;
   justify-content: center;
   height: 80px;
   margin-bottom: 10px;
}

.page__wrapper {
   display: flex;
}

.page {
   padding: 10px;
   cursor: pointer;
   border: 1px solid black;
   margin-right: 2px;
}

.page__current {
   border: 2px solid gold;
   font-weight: bold;
}
